                    @font-face {
                        font-family: 'vazir';
                        src: url('../fonts/vazir.eot');
                        src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
                    }
                    
                    * {
                        padding: 0;
                        margin: 0;
                    }
                    
                    body {
                        direction: rtl;
                        font-family: 'vazir';
                        height: 100vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    section {
                        height: 100vh;
                        width: 100%;
                        background-color: rgb(26, 24, 24);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    section .box {
                        position: relative;
                        width: 200px;
                        height: 200px;
                        margin: 10px;
                    }
                    
                    section .box .imgBox {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }
                    
                    section .box .imgBox.active {
                        position: fixed;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1000;
                    }
                    
                    section .box .imgBox img {
                        position: absolute;
                        object-fit: cover;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }
                    /* section .box .imgBox.active img {
                        width: 100%;
                        height: 100%;
                    } */
                    
                    section .box .imgBox.active img {
                        top: 50px;
                        right: 50px;
                        left: 50px;
                        bottom: 50px;
                        width: calc(100% - 100px);
                        height: calc(100% - 100px);
                    }
                    
                    section .box .imgBox h2 {
                        opacity: 0;
                        visibility: hidden;
                    }
                    
                    section .box .imgBox.active h2 {
                        opacity: 1;
                        visibility: visible;
                        color: cornsilk;
                        font-size: 18px;
                        margin-top: 10px;
                        text-align: center;
                    }
                    
                    section .box .imgBox .content {
                        opacity: 0;
                        visibility: hidden;
                        padding: 10 px;
                        bottom: 50px;
                        right: 50px;
                        left: 50px;
                        position: absolute;
                        color: cornsilk;
                        font-size: 18px;
                        margin-bottom: 10px;
                        text-align: center;
                        background-color: rgba(0, 0, 0, .6);
                        transform: translateY(200px);
                        -webkit-transform: translateY(200px);
                        -moz-transform: translateY(200px);
                        -ms-transform: translateY(200px);
                        -o-transform: translateY(200px);
                    }
                    
                    section .box .imgBox.active .content {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0px);
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        -ms-transform: translateY(0px);
                        -o-transform: translateY(0px);
                        transition: all .3s ease-in-out;
                        -webkit-transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;
                        -ms-transition: all .3s ease-in-out;
                        -o-transition: all .3s ease-in-out;
                    }