                            @font-face {
                                font-family: 'vazir';
                                src: url('../fonts/vazir.eot');
                                src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
                            }
                            
                            * {
                                padding: 0;
                                margin: 0;
                            }
                            
                            body {
                                direction: rtl;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                                font-family: 'vazir';
                                height: 100vh;
                            }
                            
                            .container {
                                width: 90vw;
                                margin: auto;
                            }
                            
                            header {
                                height: 100px;
                                width: 100%;
                                display: flex;
                                position: fixed;
                                top: 0;
                                right: 0;
                                background: rgba(0, 0, 0, 0.6);
                            }
                            
                            header nav {
                                height: 100px;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                right: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            
                            header nav ul {
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            
                            header nav ul li {
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            
                            header nav ul li a {
                                text-decoration: none;
                            }