@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'vazir';
    background: white
}

nav {
    position: absolute;
    top: 50px;
    right: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 7px 2px lightgray;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 0;
    opacity: 0;
    transition: All 0.5s ease-in-out;
    -webkit-transition: All 0.5s ease-in-out;
    -moz-transition: All 0.5s ease-in-out;
    -ms-transition: All 0.5s ease-in-out;
    -o-transition: All 0.5s ease-in-out;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    overflow: hidden;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
}

.close {
    position: absolute;
    background: url('../img/hamburger.svg') no-repeat;
    top: 5%;
    right: -80px;
    height: 60px;
    width: 60px;
    box-shadow: 0 7px 7px 2px lightgray;
    border-radius: 50%;
    background-size: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-position: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

nav.active ul {
    width: 450px;
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

nav.active .close {
    background: url('../img/close.svg') no-repeat;
    background-size: 50%;
    background-position: center;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}